
<h1> <%=@user.name %>'s posts
  <br>
</h1>
<h2>
 <%=link_to "Create Post", '/posts/new'%>
</h2>
<% @posts.each do |post| %>
  <tr>
    <%=post.created_at %>
    <br>
    <strong><td><%= post.title %></td></strong>
    <br>
    <td><%= post.content %></td>
    <br>
    <br>
  </tr>

<% end %>